<div class="form-section">
    <!-- <h2 ng-click="togglePane('cropper')">Image cropper <img class="caret" src="/img/caret.png"></h2> -->
    <div class="pane" ng-show="panes.cropper">

        <div ng-show="imageCropResult" class="cropper-reset"><a class="btn-normal btn-reset" ng-click="imageCropResult=null;imageCropStep=1">Reset</a></div>
        <!--<p ng-hide="imageCropResult||imageCropStep!=1">Let's get started &rarr; <a ng-click="showImageCropper=true;imageCropStep=1">Crop Image</a></p>
        <p ng-show="imageCropResult">Picture is ok? &rarr; <a ng-click="showImageCropper=false">Ok weg hier</a></p>-->
        <image-crop
                data-width="600"
                data-height="300"
                data-shape="square"
                data-step="imageCropStep"
                data-result="imageCropResult"
                ng-show="showImageCropper"
                ></image-crop>

        <!--
        <h2 class="result-heading">Result</h2>
        <div ng-show="imageCropResult">
            <img ng-src="{[ imageCropResult ]}" alt="The Cropped Image">
            <p>And this is the actual data uri which represents the cropped image, which you'll then upload to your server:</p>
            <textarea class="result-datauri">{[ imageCropResult ]}</textarea>
        </div>

        <p ng-hide="imageCropResult">Not cropped yet</p>

        -->

        <p></p>
    </div>

</div>